<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect for Angular routes
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]

    # Proxy for remote1
    RewriteCond %{HTTP_HOST} ^remote1\.coffeepasta\.com$ [NC]
    RewriteRule ^(.*)$ https://shell.coffeepasta.dev/remote1/$1 [P,L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://shell.coffeepasta.dev"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>
